.studentView{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 90px;

    .card{
        background-color: white;
        min-height: 40px;
        min-width: 190px;
        text-align: center;
        color: blueviolet;
        padding: 18px;
        cursor: pointer;
        font-size: 32px;
        font-weight: bold;
        border-radius: 8px;
 
        &:hover{
            background-color: blueviolet;
            color:white;
        }

    }
}