.AnalyseSpecificQuiz{

    .quizBackground{
        background-color: white;
        padding: 16px;
        margin:4%;
        margin-bottom: 0;
        border-radius: 8px;

        .quizQuestion{
            p{
                padding: 3px;
                font-weight: 400;
            }
        }

    }
}